<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /matrixyz/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /matrixyz/index.html [L]
</IfModule>
